body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mouse-halo-container {
  width: 1050px;
  height: 1050px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  left: var(--mouse-x-safe);
  top: var(--mouse-y-safe);
  background-color: transparent;
}

.mouse-halo {
  border-radius: 50%;
  width: 1050px;
  height: 1050px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  left: var(--mouse-x);
  top: var(--mouse-y);
}

html { scroll-behavior: smooth; }

.profile-img {
  @media (min-width: 1200px) and (max-height: 810px) {
    display: none;
  }
}
